Makefile
Makefile.in
aclocal.m4
admin
autom4te.cache
bin
config.guess
config.log
config.status
config.sub
configure
crosscompile-windows
demo
desktopintegration
doc
install-sh
interfaces
lisp-utils
locale
maxima-local
maxima.iss
maxima.spec
maxima_bisect.sh~
missing
plotting
share
src
test-driver
tests
xmaxima-local
