Source: maxima
Section: math
Priority: optional
Maintainer: Gunter Königsmann <gunter@physikbuch.de>
Build-Depends: sbcl, clisp, gcl, texinfo, libreadline-dev, locales, automake, debhelper ( >=9 ), autoconf, gawk | awk, texlive-latex-recommended, texlive-latex-base, python, dh-autoreconf | debhelper (>= 9.20160403~)
Vcs-Browser: https://sourceforge.net/p/maxima/code/ci/master/tree/
Vcs-Git: https://peterpall@git.code.sf.net/p/maxima/code
Homepage: https://maxima.sourceforge.net/
Standards-Version: 3.9.8

Package: maxima-common
Architecture: all
Depends:  ${shlibs:Depends}, ${misc:Depends}
Recommends: gnuplot-x11, wxmaxima, maxima-doc, gnuplot
Suggests: texmacs, wish
Replaces: maxima-share, xmaxima, maxima-emacs
Breaks: maxima-share, xmaxima, maxima-emacs
Provides: maxima-share, xmaxima, maxima-emacs
Description: Computer algebra system
 Maxima is a fully symbolic computation program.  It is full featured
 doing symbolic manipulation of polynomials, matrices, rational
 functions, integration, Todd-coxeter methods for finite group
 analysis, graphing, multiple precision floating point computation.
 It has a symbolic source level debugger for maxima code.  Maxima is
 based on the original Macsyma developed at MIT in the 1970s.  It is
 quite versatile, reasonably powerful and comes with extensive
 self tests.
 This package contains the files all maxima flavours require.

Package: maxima-gcl
Architecture: all
Depends:  ${shlibs:Depends}, ${misc:Depends}, gcl
Recommends: gnuplot-x11, wxmaxima, maxima-doc, gnuplot
Provides: maxima (= ${binary:Version})
Suggests: texmacs, wish
Replaces: maxima-share, xmaxima, maxima-emacs
Breaks: maxima-share, xmaxima, maxima-emacs
Description: Computer algebra system
 Maxima is a fully symbolic computation program.  It is full featured
 doing symbolic manipulation of polynomials, matrices, rational
 functions, integration, Todd-coxeter methods for finite group
 analysis, graphing, multiple precision floating point computation.
 It has a symbolic source level debugger for maxima code.  Maxima is
 based on the original Macsyma developed at MIT in the 1970s.  It is
 quite versatile, reasonably powerful and comes with extensive
 self tests.
 This package contains a maxima that was compiled by gcl: gcl has
 fast bignum arithmetics and is reasonably fast.
 If more than one maxima is installed at the same time this maxima
 is run if maxima is called as "maxima -l gcl"

Package: maxima-sbcl
Architecture: all
Depends:  ${shlibs:Depends}, ${misc:Depends}
Recommends: gnuplot-x11, wxmaxima, maxima-doc, gnuplot
Suggests: texmacs, wish 
Replaces: maxima-share, xmaxima, maxima-emacs
Breaks: maxima-share, xmaxima, maxima-emacs
Provides: maxima (= ${binary:Version})
Description: Computer algebra system
 Maxima is a fully symbolic computation program.  It is full featured
 doing symbolic manipulation of polynomials, matrices, rational
 functions, integration, Todd-coxeter methods for finite group
 analysis, graphing, multiple precision floating point computation.
 It has a symbolic source level debugger for maxima code.  Maxima is
 based on the original Macsyma developed at MIT in the 1970s.  It is
 quite versatile, reasonably powerful and comes with extensive
 self tests.
 This package contains a maxima that was compiled by sbcl: sbcl is
 much faster for some tasks than gcl while being slower at others.
 It also is able to create binaries that run on systems sbcl isn't
 installed on.
 If more than one maxima is installed at the same time this maxima
 is run if maxima is called as "maxima -l sbcl"

Package: maxima-clisp
Architecture: all
Depends:  ${shlibs:Depends}, ${misc:Depends}, clisp
Recommends: gnuplot-x11, wxmaxima, maxima-doc, gnuplot
Suggests: texmacs, wish
Replaces: maxima-share, xmaxima, maxima-emacs
Breaks: maxima-share, xmaxima, maxima-emacs
Provides: maxima (= ${binary:Version})
Description: Computer algebra system
 Maxima is a fully symbolic computation program.  It is full featured
 doing symbolic manipulation of polynomials, matrices, rational
 functions, integration, Todd-coxeter methods for finite group
 analysis, graphing, multiple precision floating point computation.
 It has a symbolic source level debugger for maxima code.  Maxima is
 based on the original Macsyma developed at MIT in the 1970s.  It is
 quite versatile, reasonably powerful and comes with extensive
 self tests.
 This package contains a maxima that was compiled by clisp: Packages
 compiled with clisp tend to be able to run on different computers
 even if they don't contain exactly the clisp build maxima was
 compiled with. Clisp is typically way slower than clisp and sbcl,
 but it contains fast bignum arithmetics and tends to be extremely
 memory-efficient.
 If more than one maxima is installed at the same time this maxima
 is run if maxima is called as "maxima -l clisp"

Package: maxima-doc
Architecture: all
Depends:  ${misc:Depends}
Description: Computer algebra system
 Maxima is a fully symbolic computation program.  It is full featured
 doing symbolic manipulation of polynomials, matrices, rational
 functions, integration, Todd-coxeter methods for finite group
 analysis, graphing, multiple precision floating point computation.
 It has a symbolic source level debugger for maxima code.  Maxima is
 based on the original Macsyma developed at MIT in the 1970s.  It is
 quite versatile, reasonably powerful and comes with over
 10000 self test steps.
 This package contains maxima's online manual.
