#!/usr/bin/make -f

# The standard rule.
%:
	dh $@ --parallel

# Tell configure to produce a build for two lisps.
override_dh_auto_configure:
	./bootstrap
	dh_auto_configure -- --enable-sbcl --enable-clisp

override_dh_install:
	dh_install --fail-missing

override_dh_missing:
	dh_missing --fail-missing

get-orig-source:
	uscan --force-download --repack --rename --destdir .

.PHONY: get-orig-source
